extends layout

block content
  h1= title
  if game_list.length
    ul
      each game in game_list
        li
          a(href=game.url) #{game.title}
          |  (Available copies: #{game.stockNumber})

  else
    p There are no books.
