extends layout

block content
  h1= title
  p Welcome to #[em Game Inventory]!

  h1 Dynamic content

  p The inventory has the following record counts:

  ul
    li #[strong Games:] !{game_count}
    li #[strong Categories:] !{category_count}
